body {
	background-color: brown;
}

.answer{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    font-size: xx-large;
    top: 200px;
    height: 100px;
    background-color: black;
    text-align: center;
    color: white;
}

.activator{
    display: flex;
    position: relative;
    justify-content: center;
    top: 150px;
}

